<font size=6 bold=true>Dec 21 -- Part C
<br><br>Data Structure</font>

<font size=5 color='Olive'>For the first 5 lessons, DS will be combined with Python due to insufficiencies of Concepts</font>

In [1]:
import re
import sys
import os
from os import path
from datetime import datetime

# Data types and functions. We were there.

Numbers<br>
String<br>
List<br>
Tuple<br>
Set<br>
Dictionary

<br><font size=5>Functions Revisit</font>

In [1]:
#1: 
import os
from datetime import datetime

def generate_defaultfilename():
    folder=os.getcwd()
    filename=datetime.now().strftime("%b")+'_'+datetime.now().strftime("%m_%d_%Y_%H_%M_%S")+'.csv' 
    return path.join(folder, filename) 

#generate_defaultfilename()

In [2]:
# 2
def read_oneurl(url):  
    response=requests.get(url)  
    if response.status_code==200: 
        return get_pagetext(response)
    else: 
        return [[None, None, None, None]]

In [2]:
#3:  
import pandas as pd
df_coll=pd.read_csv('C:\\Users\\Kentt\\stempro\\hw\\atian7064\\WAColleges.csv')
 
def get_universitylist(df_coll, namelike, state='WA'):
    return df_coll[(df_coll['InstitutionName'].str.contains(namelike)) & (df_coll['State']==state)]

get_universitylist(df_coll, namelike='Kirk')

,InstitutionName,UnitID,ParentID,OPEID,InstitutionType,Address,City,State,HasHistory
119,Kirkland Beauty School,179317,0,NaN,Institution,17311 140th Avenue N.E.,Woodinville,WA,False

In [27]:
#4
def avg_gpa(*reportcards):
    n=len(reportcards)
    total=0.0
    for sub in reportcards:
        total+=sub
    return total/n if n>0 else 1

avg_gpa(4,4,4,2.7,3.3,4,5,5)

4.0

In [49]:
#5
def person_gpa(**data): 
    total=0
    n=len(data)
    for key, value in data.items():
        total+=value
        print("person: {}: avg gpa: {}\n".format(key,value))
    return ('{0:.4f}'.format(total/n))
person_gpa(Angus=3.8, Angus2 = 3.8)

person: Angus: avg gpa: 3.8

person: Angus2: avg gpa: 3.8

'3.8000'

# Object Oriented Programming: Define Classes

In [20]:
class Describe_College(object):    
    def __init__(self,col_name, avg_gpa, avg_act, avg_sat, addr): 
        self.col_name=col_name
        self.avg_gpa=avg_gpa
        self.avg_act=avg_act
        self.avg_sat=avg_sat
        self.addr=addr 
    def basic_info(self):
        print("College: {} avg gpa requirement is {}".format(self.col_name,self.avg_gpa))

    def get_avggpa(self):
        return self.avg_gpa

c=Describe_College('Stanford', 3.0, 33.0, 1500, 'CA')
c.basic_info()
c.get_avggpa()

College: Stanford avg gpa requirement is 3.0

3.0

In [18]:
class CollegeCrawl(object):
    gap_Insecond=5
    max_Pages=150
    allUrls=[]
    visitedUrls=[]
    rejectedUrls=[]
    n_allUrls=0
    n_sitedUrls=0
    n_rejectedUrls=0
    
    """
        collegename: name
        rooturl: www.university.edu
        prioritykeywords: ['apply','adimission'...] etc. if None then everth page 
        respectrobottxt: True
    """
    def __init__(self,_collegename, _rooturl, _prioritykeywords, _respectrobottxt=True):
        self.college=_collegename
        self.rootUrl=_rooturl
        self.priorityKeywords=_prioritykeywords
        self.respectRobottext=_respectrobottxt

    """
        get all urls starting from rootUrl
    """
    def GetAllUrls(self):
        pass
    
    """
        read one page
    """
    def Read_OneUrl(self, oneUrl):
        pass
    
        
    """
        Save One Page
    """
    def Save_OnePage(self, format='csv'):
        pass
    
    """
        Save summaries
    """
    def Save_Summaries(self):
        pass

In [22]:
#isinstance(c,Describe_College)
#id()

True

In [4]:
t = (4,3,2)
type(t)

tuple

In [5]:
name = "Lela"
id(name)

2330967827120

In [6]:
name = 'you'
id(name)

2331011271664

In [21]:
u = [3,1,3]
id(u)
u.append(6)
print(id(u))

2331011270472